<%- include('includes/head.ejs') %>
  </head>

  <body style="text-align: center;">
    <%- include('includes/navigation.ejs') %>
      <h1>Some error occured!</h1>
      <p>We're working on fixing this, sorry for the inconvenience!</p>
      <div style="padding-top: 3rem;" class="centered"><img
          src="https://i.ibb.co/5yCfPT0/photo-5429396157945213829-x.jpg" alt="okak"></div>

      <%- include('includes/end.ejs') %>